# platform related
.DS_Store
._.DS_Store
*.log

# editor related
.idea
*.swp
*.~
.*.un~
.vimrc

# build related
build/
dist/
node_modules/
test-reports/
coverage/

# develop
mydev*
*.tgz
dmr.json
bin/test
*.bak/
data/
